<html ng-app="prod"  style="width: 250px;">
    <head>
        <title>Prod Angular JS</title>
    </head>

    <style type="text/css">

        .ng-scope {
            border-color: red;
            border-style: solid;
            border-width: 2px;
        }

        .ng-scope div {
            border-color: blue;
        }

        .ng-scope ul {
            border-color: green;
        }
    </style>

    <body>

        <div ng-controller="GreetingCtrl">
            <h1>Available smiles</h1>
            <ul ng-repeat="smile in getSmiles()" >{{smile}}</ul>
            <br><br>

            <p>{{::name}}</p>
            Your name: <input ng-model="name"> {{name}}
            <br><br>
            <button ng-click="update()">update</button>
            <p>{{greeting}}</p>
        </div>


        <!------- script area here!!! ---------->

        <script src="../01_angularjs_basics/js/angular.js"></script>

        <script src="app.js"></script>
        <script src="greeting-service.js"></script>
        <script src="greeting-ctrl.js"></script>

        <!-------------------------------------->
    </body>
</html>